<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>{{title}} | ScienceVersion</title>
    <meta name="title" content="{{title}} | ScienceVersion">
    <meta property="og:title" content="{{title}} | ScienceVersion">
	<meta property="og:image" content="http://www.scienceversion.com/images/sciver.png">
    <meta name="description" content="{{title}} - Get Latest & trending {{title}} related content.">
    <meta name="keywords" content="science news, science articles, science videos, research news, nature, science, space, health, tech, technology, humans, physics, environment, breakthroughs, human body, science version, discoveries" />
    <link rel="stylesheet" href="/css/category.css">
    <script src="/js/jquery.js"></script>
</head>
<body>
<header>
	<div class="logo">
		<a href="/">
			<img src="/images/navbar/sciverlogo5.png" style="width: 100%">
		</a>
	</div>
	<div class="nav-menu">
		<a href="/news" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-60deg, RoyalBlue,brown);" class="but">
					<img class="but-img" src="/images/navbar/newspaper-solid.svg" style="width:60px">
				</button>
			</div>
			<text class="title">NEWS</text>
		</a>
		<a href="/health" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-60deg, RoyalBlue,aqua);" class="but">
					<img class="but-img" src="/images/navbar/heartbeat-solid.svg" style="width:50px">
				</button>
			</div>
			<text class="title">HEALTH</text>
		</a>
		<a href="/space" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-60deg, grey,aqua);" class="but">
					<img class="but-img" src="/images/navbar/meteor-solid.svg" style="width:50px">
				</button>
			</div>
			<text class="title">SPACE</text>
		</a>
		<a href="/tech" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-60deg, yellow,red);" class="but">
					<img class="but-img" src="/images/navbar/satellite-solid.svg" style="width:50px">
				</button>
			</div>
			<text class="title">TECH</text>
		</a>
		<a href="/animals" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-60deg, rgb(47, 68, 52),red);" class="but">
					<img class="but-img" src="/images/navbar/paw-solid.svg" style="width:50px">
				</button>
			</div>
			<text class="title">ANIMALS</text>
		</a>
		<a href="/nature" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-60deg, green,pink);" class="but">
					<img class="but-img" src="/images/navbar/pagelines-brands.svg" style="width:40px">
				</button>
			</div>
			<text class="title">NATURE</text>
		</a>
		<a href="/history" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-45deg, brown,grey);" class="but">
					<img class="but-img" src="/images/navbar/user-astronaut-solid.svg" style="width:40px">
				</button>
			</div>
			<text class="title">HISTORY</text>
		</a>
		<a href="/experiments" class="apps v">
			<div>
				<button style="background-image:linear-gradient(-30deg, Navy,red);" class="but">
					<img class="but-img" src="/images/navbar/flask-solid.svg" style="width:40px">
				</button>
			</div>
			<text class="title">EXPERIMENTS</text>
		</a>
	</div>
	<div class="apps v h">
		<div>
			<button id="myBtn" style="background-image: linear-gradient(-45deg, grey,rgba(177, 75, 75, 0.322));" class="but">
				<img class="but-img" src="/images/navbar/box-open-solid.svg" style="width:50px">
			</button>
		</div>
		<text class="title">MORE</text>
	</div>
</header>
<div id="myModal" class="modal">
        <div class="modal-content"> <span class="close">&times;</span>
            <div class="popupdiv">
                <a href="/news" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-60deg, RoyalBlue,brown);" class="but">
                            <img class="but-img" src="/images/navbar/newspaper-solid.svg" style="width:60px">
                        </button>
                    </div> <text class="title">NEWS</text>
                </a>
                <a href="/health" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-60deg, RoyalBlue,aqua);" class="but">
                            <img class="but-img" src="/images/navbar/heartbeat-solid.svg" style="width:50px">
                        </button>
                    </div> <text class="title">HEALTH</text>
                </a>
                <a href="/space" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-60deg, grey,aqua);" class="but">
                            <img class="but-img" src="/images/navbar/meteor-solid.svg" style="width:50px">
                        </button>
                    </div> <text class="title">SPACE</text>
                </a>
                <a href="/tech" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-60deg, yellow,red);" class="but">
                            <img class="but-img" src="/images/navbar/satellite-solid.svg" style="width:50px">
                        </button>
                    </div> <text class="title">TECH</text>
                </a>
                <a href="/animals" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-60deg, rgb(47, 68, 52),red);" class="but">
                            <img class="but-img" src="/images/navbar/paw-solid.svg" style="width:50px">
                        </button>
                    </div> <text class="title">ANIMALS</text>
                </a>
                <a href="/nature" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-60deg, green,pink);" class="but">
                            <img class="but-img" src="/images/navbar/pagelines-brands.svg" style="width:40px">
                        </button>
                    </div> <text class="title">NATURE</text>
                </a>
                <a href="/history" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-45deg, brown,grey);" class="but">
                            <img class="but-img" src="/images/navbar/user-astronaut-solid.svg" style="width:40px">
                        </button>
                    </div> <text class="title">HISTORY</text>
                </a>
                <a href="/experiments" class="apps x">
                    <div>
                        <button style="background-image:linear-gradient(-30deg, Navy,red);" class="but">
                            <img class="but-img" src="/images/navbar/flask-solid.svg" style="width:40px">
                        </button>
                    </div> <text class="title">EXPERIMENTS</text>
                </a>
            </div>
        </div>
    </div>
    <div style="text-align: center;">
        <img class="loader" src="/images/loader.svg" width="30px">
    </div>
    <div class="total-container">
        <div class="main-container">
            <div class="article-cards-div"></div>
            <div>
                <img class="loader1" src="public/images/loader.svg" width="30px">
                <div style="display: none; margin: 25px 10px;text-align: center" class="nomoreresults">That's all we have.</div>
            </div>
        </div>
        <footer> <span class="copyright-text">Copyright © 2019 ScienceVersion</span>
            <div>
                <a href="https://www.facebook.com/scienceversion">
                    <img src="/images/footer/facebook-square-brands.svg">
                </a>
                <a href="https://www.instagram.com/scienceversion">
                    <img src="/images/footer/instagram-brands.svg">
                </a>
                <a href="https://www.twitter.com/scienceversion">
                    <img src="/images/footer/twitter-square-brands.svg">
                </a>
                <a href="https://www.quora.com/scienceversion">
                    <img src="/images/footer/quora-brands.svg">
                </a>
            </div>
        </footer>
    <script src="/js/category.js"></script>
</body>