<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon"/>
    <title>{{data.title}}</title>
	<meta property="og:title" content="{{data.title}}">
	<meta property="og:image" content="http://www.scienceversion.com/{{data.imageurl}}">
	<meta property="og:description" content="{{data.description}}">
    <meta name="title" content="{{data.title}} | ScienceVersion">
    <meta name="author" content="Science Version">
    <meta name="description" content="{{data.description}}">
    <meta name="keywords" content="science news, science articles, science videos, research news, nature, science, space, health, tech, technology, humans, physics, environment, breakthroughs, human body, science version, discoveries" />
    <link rel="stylesheet" href="/css/post.css">
    <script src="/js/jquery.js"></script>
</head>
   <body>
	<header>
		<div class="logo">
			<a href="/">
				<img src="/images/navbar/sciverlogo5.png" style="width: 100%">
			</a>
		</div>
		<div class="nav-menu">
			<a href="/news" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-60deg, RoyalBlue,brown);" class="but">
						<img class="but-img" src="/images/navbar/newspaper-solid.svg" style="width:60px">
					</button>
				</div>
				<text class="title">NEWS</text>
			</a>
			<a href="/health" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-60deg, RoyalBlue,aqua);" class="but">
						<img class="but-img" src="/images/navbar/heartbeat-solid.svg" style="width:50px">
					</button>
				</div>
				<text class="title">HEALTH</text>
			</a>
			<a href="/space" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-60deg, grey,aqua);" class="but">
						<img class="but-img" src="/images/navbar/meteor-solid.svg" style="width:50px">
					</button>
				</div>
				<text class="title">SPACE</text>
			</a>
			<a href="/tech" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-60deg, yellow,red);" class="but">
						<img class="but-img" src="/images/navbar/satellite-solid.svg" style="width:50px">
					</button>
				</div>
				<text class="title">TECH</text>
			</a>
			<a href="/animals" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-60deg, rgb(47, 68, 52),red);" class="but">
						<img class="but-img" src="/images/navbar/paw-solid.svg" style="width:50px">
					</button>
				</div>
				<text class="title">ANIMALS</text>
			</a>
			<a href="/nature" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-60deg, green,pink);" class="but">
						<img class="but-img" src="/images/navbar/pagelines-brands.svg" style="width:40px">
					</button>
				</div>
				<text class="title">NATURE</text>
			</a>
			<a href="/history" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-45deg, brown,grey);" class="but">
						<img class="but-img" src="/images/navbar/user-astronaut-solid.svg" style="width:40px">
					</button>
				</div>
				<text class="title">HISTORY</text>
			</a>
			<a href="/experiments" class="apps v">
				<div>
					<button style="background-image:linear-gradient(-30deg, Navy,red);" class="but">
						<img class="but-img" src="/images/navbar/flask-solid.svg" style="width:40px">
					</button>
				</div>
				<text class="title">EXPERIMENTS</text>
			</a>
		</div>
		<div class="apps v h">
			<div>
				<button id="myBtn" style="background-image: linear-gradient(-45deg, grey,rgba(177, 75, 75, 0.322));" class="but">
					<img class="but-img" src="/images/navbar/box-open-solid.svg" style="width:50px">
				</button>
			</div>
			<text class="title">MORE</text>
		</div>
	</header>
	<div id="myModal" class="modal">
		<div class="modal-content"> <span class="close">&times;</span>
			<div class="popupdiv">
				<a href="/news" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-60deg, RoyalBlue,brown);" class="but">
							<img class="but-img" src="/images/navbar/newspaper-solid.svg" style="width:60px">
						</button>
					</div>
					<text class="title">NEWS</text>
				</a>
				<a href="/health" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-60deg, RoyalBlue,aqua);" class="but">
							<img class="but-img" src="/images/navbar/heartbeat-solid.svg" style="width:50px">
						</button>
					</div>
					<text class="title">HEALTH</text>
				</a>
				<a href="/space" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-60deg, grey,aqua);" class="but">
							<img class="but-img" src="/images/navbar/meteor-solid.svg" style="width:50px">
						</button>
					</div>
					<text class="title">SPACE</text>
				</a>
				<a href="/tech" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-60deg, yellow,red);" class="but">
							<img class="but-img" src="/images/navbar/satellite-solid.svg" style="width:50px">
						</button>
					</div>
					<text class="title">TECH</text>
				</a>
				<a href="/animals" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-60deg, rgb(47, 68, 52),red);" class="but">
							<img class="but-img" src="/images/navbar/paw-solid.svg" style="width:50px">
						</button>
					</div>
					<text class="title">ANIMALS</text>
				</a>
				<a href="/nature" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-60deg, green,pink);" class="but">
							<img class="but-img" src="/images/navbar/pagelines-brands.svg" style="width:40px">
						</button>
					</div>
					<text class="title">NATURE</text>
				</a>
				<a href="/history" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-45deg, brown,grey);" class="but">
							<img class="but-img" src="/images/navbar/user-astronaut-solid.svg" style="width:40px">
						</button>
					</div>
					<text class="title">HISTORY</text>
				</a>
				<a href="/experiments" class="apps x">
					<div>
						<button style="background-image:linear-gradient(-30deg, Navy,red);" class="but">
							<img class="but-img" src="/images/navbar/flask-solid.svg" style="width:40px">
						</button>
					</div>
					<text class="title">EXPERIMENTS</text>
				</a>
			</div>
		</div>
	</div>
	<div class="main-div">
		<div class="article-div">
			<h1>{{data.title}}</h1>
			<div style="display: flex;margin: 0 0 15px 0;font-size: 15px;color:grey">
				<div><span id='time-div'>{{data.date}}</span>
				</div>
				<div style="margin-left: 20px">
					<img src='/images/eye-regular.svg' width="16px" style="margin-bottom: -1.5px;"><span> {{data.views}}</span>
				</div>
			</div>
			<div class="img-div">
				<img src="{{data.imageurl}}" width='100%' height="auto" alt="{{data.title}}">
			</div>
			<div class="article-content">{{{data.content}}}</div>
		</div>
		<div class="recommonded-post">
            {{#each recommended}}
            <div class="cards">
                <a href="{{url}}-{{_id}}"><img src="{{imageRecommondedUrl}}" class="card-img"></a>
                <div style="margin-top:10px">
                <a href="{{url}}-{{_id}}"><text class="cart-txt">{{title}}</text></a>
                </div>
                <div style="margin-top:auto">      
                <a href="/{{cat}}"><button class="category-but">{{cat}}</button></a>
                <button class="sharebut">
                <img src="/images/share-alt-solid.svg" width="14px" height="16.8px" style="margin-top:4px">
                </button>
                <div class="share-drop">
                <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.scienceversion.com/post/{{url}}-{{d._id}}"><img src="/images/facebook-square-brands (2).svg" width='25' style="margin: 5px"></a>
                <a href="https://twitter.com/intent/tweet?url=http://www.scienceversion.com/post/{{url}}-{{_id}}"><img src="/images/twitter-square-brands.svg" width='25' style="margin: 5px"></a>
                <a href="https://api.whatsapp.com/send?text=http://www.scienceversion.com/post/{{url}}-{{_id}}" data-action="share/whatsapp/share"><img src="/images/whatsapp-square-brands.svg" width='25' style="margin: 5px"></a>
                </div>
                </div>
                </div>
            {{/each}}
        </div>
	</div>
	<script src="/js/post.js"></script>
</body>